{% extends "core/base.html" %}
{% load static %}
{% block title %}Welcome to CV Maker{% endblock %}

{% block body %}

{% if messages %}
{% for m in messages %}
<div class="alert alert-{{m.tags}}">
    {{m}}
</div>
{% endfor %}
{% endif %}
<div class="container">
    <!-- <div class="row border border-2 border-dark p-1">
        <div class="col-md-6 border border-1 border-dark">
            <h1>1st</h1>
        </div>
        <div class="col-md-6 border border-1 border-dark">
            <img src="{% static 'extra/home_cv.svg'%}" class="img-fluid" alt="" srcset="">
        </div>
    </div> -->

    <div class="row align-items-center my-5">
        <div class="col-12 col-md-5 col-lg-6 order-md-2">

            <!-- Image -->
            <img src="{% static 'extra/home_cv.svg'%}"
                class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up"
                data-aos-delay="100">

        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

            <!-- Heading -->
            <h1 class="display-3 text-center text-md-start">
                Welcome to <span class="text-primary">CV Maker</span>. <br>
                Make Your CV.
            </h1>

            <!-- Text -->
            <p class="lead text-center text-md-start text-body-secondary mb-6 mb-lg-8">
                Build a cv for update yourself with many buildin template.
            </p>

            <!-- Buttons -->
            <div class="text-center text-md-start">
                <a href="{% url 'accept'%}" class="btn btn-primary shadow lift me-1">
                    Make now <i class="fe fe-arrow-right d-none d-md-inline ms-3"></i>
                </a>
                <a href="{% url 'about' %}" class="btn btn-primary-subtle lift">
                    About us
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}